<%= form_for(@day, multipart: true)  do |f| %>

<% if @day.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@day.errors.count, "error") %>
      prohibited this day from being saved:
    </h2>

    <ul>
    <% @day.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <%= f.label :post_date %>
  <%= f.text_field :post_date %>


   <div class="field">
     <%= f.label :image %>
     <%= f.file_field :image %>
   </div>

  <%= f.label :note %>
  <%= f.text_area :note %>

  <%= f.hidden_field :growing_thing_id, :value => params[:growing_thing_id] %>

  <%= f.submit %>
<% end %>
