<h2><%= @post.title %> </h2>
<%= @post.content %> <br>

Comments: 
<% @post.comments.each do |comment| %>
    <%= comment.content %>
<% end %>

Users who have commented:
<% @post.users.each do |user| %>
    <%= user.username %>
<% end %>

<%= render 'comments/form', comment: @post.comments.build %>