<%= growing_thing.name %>

<div id="calendar">
  <%= calendar do |date| %>
    <%= date.day %>


    <% if existing_day = growing_thing.days.detect do |day| %>
        <% day.post_date == date %>
        <% end %>
      <%= link_to 'View day', growing_thing_day_path(growing_thing, existing_day) %>
    <% else %>
      <%= link_to 'Create new day', new_growing_thing_day_path(:growing_thing_id => growing_thing.id, :post_date => date) %>
    <% end %>

  <% end %>
</div>
